body {
  background-color: #fefffd;
  position: relative;
background-image: linear-gradient(to right top, #e2f0db, #edead2, #f8e3cf, #ffddd2, #ffd8dc, #fcd7e8, #f1d8f4, #e0dbff, #c8e2ff, #ace9ff, #95f0ff, #8ff4ed);
}


#btn-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  height: 100vh; 
}

#btn {
  background-color: #0095B6;
  opacity: 0.8;
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

#btn:hover {
  opacity: 1;
  background-color: #0095B6;
}
.download {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.preloadingBlock_el {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh; 
}

/* .preloadingBlock_el path {
  fill: var(--accent);
} */
.preloadingBlock_el path:first-child {
  fill: #ffffff;
}
.preloadingBlock_el svg {
  animation: rotate 2s steps(12, end) infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #016e86;
  font-style: italic;
  font-weight: 500; 
}
.preloader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="%230095B6" stroke="%230095B6" stroke-width="12" r="15" cx="40" cy="65"><animate attributeName="cy" calcMode="spline" dur="2" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="%230095B6" stroke="%230095B6" stroke-width="12" r="15" cx="100" cy="65"><animate attributeName="cy" calcMode="spline" dur="2" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="%230095B6" stroke="%230095B6" stroke-width="12" r="15" cx="160" cy="65"><animate attributeName="cy" calcMode="spline" dur="2" values="65;135;65;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>');
}

.hide {
  display:none;
}